[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/PARWorks-iOS"]
	path = Submodules/PARWorks-iOS
	url = git@github.com:parworks/PARWorks-iOS.git
[submodule "Submodules/PSTCollectionView"]
	path = Submodules/PSTCollectionView
	url = git://github.com/steipete/PSTCollectionView.git
[submodule "Submodules/GPUImage"]
	path = Submodules/GPUImage
	url = git://github.com/BradLarson/GPUImage.git
[submodule "Submodules/Facebook"]
	path = Submodules/Facebook
	url = git@github.com:facebook/facebook-ios-sdk.git
