# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

/.DS_Store
/build/
/DerivedData/
/Submodules/.DS_Store
/Subprojects/ChipmunkTemplate/build/
/Subprojects/ChipmunkTemplate/ChipmunkTemplate.xcodeproj/project.xcworkspace/xcuserdata/bengotow.xcuserdatad/
/Subprojects/ChipmunkTemplate/ChipmunkTemplate.xcodeproj/xcuserdata/bengotow.xcuserdatad/
/Subprojects/ChipmunkTemplate/DerivedData/

/MARS.xcodeproj/xcuserdata/demetri.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/MARS.xcodeproj/project.xcworkspace/xcuserdata/demetri.xcuserdatad/UserInterfaceState.xcuserstate